html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
   -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    max-width:93%;
	margin: 0 auto;
    line-height: 1.8;
}

header {
    text-align:center;
    border-bottom: 1em;
    height:25%;
    background-color:aquamarine;
}

#topMenu {
    height:10%;
    width:100%;
    clear:left;
   background-color:white;
}

#logo {
    float:left;
}

nav {
    height:15%;
    margin-left:30%;
}
nav ul li{
    display:inline-block;
    text-decoration:none;
    float:left;
}

#signUp {New
    float:right;
}

#signUp ul li{
    display:inline-block;
    text-decoration:none;
    //clear:both;
}
hr {
    height:0.2em;
    background-color: #808080;
    width:100%;
    margin-top:1.5em;
}

#titleBanner {
    height:15%;
    width:100%;
    background-color:gray;
    float:left;
}
#banner {
    height:15%;
    width:100%;
}
header {
    clear:both;
}
/*Here begins CSS for the  Main DIV  #############################################*/

main {width:100%;
      border:1px solid #808080;
}

article {
    width:100%;
}

/*Here begins CSS for the  dragSection DIV */
#dragSection {
    width:50%;
    padding:2em;
     border:1px solid #808;
     float:left;
}

    #dragSection #tagNav {
        
        width:100%;
        margin-left:3%;
        display:inline-block;
    text-decoration:none;
    }
/*Here begins CSS for the  dropSection DIV */
#dropSection {
    width:50%;
    padding:2em;
     border:1px solid #808;
     float:left;
}

#compContainer {
    border:0.5em dashed aquamarine;
}

#hotSpot {
    border:0.5em dashed #4cff00;
}

/*Here End CSS for the Main DIV  #############################################*/

/*Here bingins footer CSV  #############################################*/
footer{
    float:left;
     line-height: 4em;
	margin-top: 1em;
}
footer ul {
    
    width:100%;
    float:left;
}
#socialMedia {
    
    width:100%;
    float:left;
}

footer ul li {
     display:inline-block;
    text-decoration:none;
    }


